{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V20</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' href="{% static 'display_words_statics/display_word.css' %}">


</head>

<body class='degrade_display'>
  <h1 class='title'>All words by {{user_name}}</h1>
<div class='container'>
  <table class='words-table'>
    <tr>
      <td class='table-title'>Word</td>
      <td class='table-title'>Translate</td>
    </tr>

{% for contact in page_obj %}
  <tr class='all-words-table'>
    <td class='words'>{{ contact.word}}</td>
    <td class='words'>{{ contact.translate}}</td>
    <td class='words'><a href="delete/{{contact.id}}"><img id='trash-icon' src='{% static "images/trash.png"%}'></a><td>
  </tr>
{% endfor %}
  </table>

<div class='pagination-div'>
    <span class='pagination-span'>
        {% if page_obj.has_previous %}
            <a class='prev'href="?page=1">&laquo; first page</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous page</a>

        <span>
        {% endif %}

        {% if not page_obj.has_previous%}
          <span class= 'pagination-page'>
        {% endif %}
    
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next page</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last page&raquo;</a>
        {% endif %}
    </span>
</div>

</div>

</body>
