.degrade_display {
  background: rgb(238,174,237);
  background: radial-gradient(circle, rgba(238,174,237,1) 0%, rgba(30,144,217,0.87718837535014) 100%);
}

.title{
  margin-left: 35%;
}

.container{
  width: auto;
}

.words-table{
  margin-left: 38%;
  margin-top: 10%;
  text-align: center;
}

.table-title{
  font-weight: bold;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
}

.all-words-table{
  font-weight: bold;
  font-size: 15px;
}

.words {
  border-style: solid;
  border-width: 1px;

}

.pagination{
  margin-left: 26%;
  margin-top: 10%;
  font-weight: bold;
}

.pagination-div{
    display: inline-block;
    width: 700px;
    margin-top: 10%;
    margin-left: 38%;
}

.pagination-page{
  margin-left: 10%;
}

.prev{
  margin-left: -15%;
}

